:root {
    --bg-color: #0a001f;
    --text-color: #ffffff;
    --accent-color: #00ffff;
    --secondary-color: #b19cd9;
    --card-bg-color: rgba(255, 255, 255, 0.04);
}

* {
    margin: 0;
    padding: 0;
    cursor: none;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    overflow-x: hidden;
}

#background-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(10, 0, 31, 0.8);
    backdrop-filter: blur(10px);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
}

.logo {
    width: 50px;
    height: 50px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 2rem;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    transition: color 0.3s ease;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--accent-color);
    transition: width 0.3s ease;
}

nav ul li a:hover::after,
nav ul li a.active::after {
    width: 100%;
}

main {
    padding-top: 80px;
    position: relative;
    z-index: 1;
}

section {
    padding: 5rem 10%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1,
h2,
h3 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--accent-color);
}

h2 {
    font-size: 2.5rem;
    color: var(--secondary-color);
}

.hero {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(360deg, #0a001f, #002f4b);
    animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.hero-content {
    position: relative;
    z-index: 1;
}

.cta-buttons {
    margin-top: 2rem;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
    margin-right: 1rem;
}

.primary-btn {
    background-color: var(--accent-color);
    color: var(--bg-color);
}

.secondary-btn {
    background-color: transparent;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 255, 255, 0.3);
}

.social-icons {
    margin-top: 2rem;
}

.social-icons a {
    margin: 0 0.5rem;
}

.icon {
    width: 24px;
    height: 24px;
    fill: var(--text-color);
    transition: fill 0.3s ease;
}

.icon:hover {
    fill: var(--accent-color);
}

.about-content {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    padding: 5px;
    border: 3px solid #3498db; /* Changed to a blue color */
    position: relative;
    top: -40px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increased shadow */
    transition: all 0.3s ease;
    filter: grayscale(20%) brightness(100%) contrast(105%); /* Added image filters */
}

.profile-image:hover {
    transform: scale(1.05) rotate(5deg);
    border-color: #e74c3c; /* Change border color on hover */
    filter: grayscale(0%) brightness(105%) contrast(110%); /* Adjust filters on hover */
}

.about-text {
    max-width: max-content;
    padding-right: 30px;
    text-align: justify;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.skill {
    background-color: rgba(122, 122, 122, 0.2);  
    backdrop-filter: blur(3px);  
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.8);  
    box-shadow: 
        0 4px 6px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.skill:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-2px);
    box-shadow: 
        0 6px 8px rgba(0, 0, 0, 0.15),
        inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.timeline {
    position: relative;
    width: 800px;
    margin: 0 auto;
    margin-top: 80px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: var(--secondary-color);
    top: 15px;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.timeline-item {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 70%;
    text-align: justify;
}

.timeline-item .metaInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: var(--secondary-color);
    font-weight: bold;
}

.timeline-item::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    right: -6.7px;
    background-color: var(--secondary-color);
    border: 4px solid var(--secondary-color);
    top: 15px;
    border-radius: 100%;
    z-index: 1;
}

.timeline-item:nth-child(odd) {
    left: -160.5px;
}

.timeline-item:nth-child(even) {
    left: 50.48%;
}

.timeline-item:nth-child(even)::after {
    left: -10px;
}

.timeline-content {
    padding: 20px 30px;
    background-color: var(--card-bg-color);
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1), 0 10px 15px -3px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(3px);
    overflow: hidden;
}

.title-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.company-logo {
    height: 40px;
    /* Adjust size as needed */
    width: 55px;
    /* Adjust size as needed */
    padding-top: 5px;
    margin-right: 15px;
    border-radius: 50px;
    /* Space between the logo and text */
}

.header-text {
    width: 100%;
}

.metaInfo {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    color: var(--secondary-color);
    font-weight: bold;
}

.header-text h3 {
    margin: 0;
    color: var(--accent-color);
    text-align: left; 
    font-size: 15px;
}

.timeline-content ul {
    margin-top: 10px;
    padding-left: 20px;
    list-style-type: disc;
    /* List styling */
}

.timeline-content ul li {
    margin-bottom: 5px;
    /* Space between list items */
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-align: justify;
    padding-bottom: 10px;
}

.timeline-content ul li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    /* Remove bottom margin for the last list item */
}

.timeline-content::before {
    /* Add a subtle inner glow */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.2);
    pointer-events: none;
    /* Prevent interaction with the glow */
}

.timeline-content p {
    margin-top: -15px;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.timeline-content h3 {
    color: var(--accent-color);
}

.metaInfo p {
    font-size: 12px;
}

/*--------------------------------------------------------------*/

#projects {
    padding: 4rem 5%;
}

#projects h2 {
    text-align: left;
    margin-left: 5rem;
    margin-bottom: 3rem;
}

.projects-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.project-section {
    border-radius: 10px;
    background-color: var(--card-bg-color);
    padding: 2rem;
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.137);
}

.section-title {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.705);
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
}

.project-card {
    background: rgba(71, 71, 71, 0.05);
    border-radius: 10px;
    padding: 1.5rem;
    transition: all 0.3s ease;
    display: flex;
    border: 1px solid rgba(156, 156, 156, 0.24);
    backdrop-filter: blur(3px);
    flex-direction: column;
    justify-content: space-between;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 5px rgba(0, 255, 255, 0.2);
}

.project-card h4 {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-bottom: 0.75rem;
}

.project-card p {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.learn-more {
    background: rgba(255, 255, 255, 0.13);
    color: rgba(255, 255, 255, 0.63);
    padding: 0.3rem 1rem;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    align-self: flex-start;
    text-decoration: none;
}

.learn-more:hover {
    color: white;
    background: rgba(255, 255, 255, 0.3);
}

@media (max-width: 768px) {
    .projects-container {
        grid-template-columns: 1fr;
    }
}

/*----------------------------------------------------------------------------*/

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

input,
textarea {
    margin-bottom: 1rem;
    padding: 0.75rem;
    background-color: var(--card-bg-color);
    border: none;
    border-radius: 5px;
    color: var(--text-color);
}

footer {
    text-align: center;
    padding: 2rem;
    background-color: var(--card-bg-color);

    box-shadow:
        0 4px 6px -2px rgba(0, 0, 0, 0.1),
        /* Subtle inner shadow */
        0 10px 15px -3px rgba(0, 0, 0, 0.15);
    /* Softer outer shadow */
    backdrop-filter: blur(3px);
    /* Adjust blur intensity */
}

#contact {
    position: relative;
    overflow: hidden;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

#contact-form {
    flex: 1;
    max-width: 500px;
    z-index: 1;
}

.contact-svg {
    position: absolute;
    right: -100px;
    top: 50%;
    transform: translateY(-50%);
    width: 600px;
    height: 600px;
    opacity: 0.1;
}

input,
textarea {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.75rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    color: var(--text-color);
    transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: var(--secondary-color);
}

textarea {
    min-height: 150px;
    resize: vertical;
}

#cursor {
    width: 20px;
    height: 20px;
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    transition: transform 0.2s ease;
}

/*---------------------------------------------*/
#contact {
    padding: 4rem 5%;
    background-color: var(--bg-color);
    color: var(--text-color);
}

#contact h2 {
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 2rem;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    background: var(--card-bg);
    border-radius: 15px;
    padding: 2rem;
    backdrop-filter: blur(3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-info {
    flex: 1;
    padding-right: 2rem;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.contact-item i {
    color: var(--accent-color);
    margin-right: 1rem;
    font-size: 1.2rem;
}

.contact-item a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-item a:hover {
    color: var(--accent-color);
}

.contact-message {
    flex: 1;
    border-left: 1px solid var(--accent-color);
    padding-left: 2rem;
}

.contact-message p {
    font-style: italic;
    line-height: 1.6;
}

/*----------------------- SKILLS -------------------------*/
#skill-tree h2 {
    margin-left: 5rem;
    margin-bottom: 2rem;
}

#skill-tree {
    padding: 4rem 5%;
    color: #E0E0E0;
}

.skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.skill-circle {
    width: 170px;
    height: 170px;
    margin: 15px;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
    overflow: visible; 
}

.skill-circle:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    z-index: 1;
    transition: all 0.3s ease;
    border-radius: 50%;
}

.skill-circle:hover:before {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
}

.skill-content {
    z-index: 2;
    text-align: center;
}

.skill-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.skill-level {
    font-size: 0.8rem;
    opacity: 0.8;
}

.sub-skill {
    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 4;
    backdrop-filter: blur(8px);
    overflow: hidden;
    pointer-events: none; 
}

.skill-circle:hover .sub-skill {
    opacity: 1; /* Show sub-skills on hover */
}

.sub-skill:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
}

.sub-skill-content {
    z-index: 2;
    font-size: 0.7rem;
    text-align: center;
}

.tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: none;
    z-index: 100;
}

.connection {
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
}

@media (max-width: 480px) {
    #skills h2 {
        font-size: 1.8rem;
    }

    .skill-category h3 {
        font-size: 1.2rem;
    }

    .skill-item {
        font-size: 0.8rem;
    }
}
/*--------------------------------------------------------*/

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }

    .contact-info {
        padding-right: 0;
        margin-bottom: 2rem;
    }

    .contact-message {
        border-left: none;
        border-top: 1px solid var(--accent-color);
        padding-left: 0;
        padding-top: 2rem;
    }
}

@media (max-width: 1100px) {

    #projects h2 {
        text-align: center;
        margin-left: 0px;
        margin-bottom: 3rem;
    }
    
    nav {
        flex-direction: column;
    }

    nav ul {
        margin-top: 1rem;
    }

    nav ul li {
        margin: 0 0.5rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    .timeline {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;
    }

    .timeline::after {
        left: 31px;
    }

    .timeline-item {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
        font-size: 14px;
    }

    .timeline-item::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .timeline-item::after {
        left: 21px;
    }

    .timeline-item:nth-child(even) {
        left: 0px;
    }

    .timeline-item:nth-child(odd) {
        left: 3px;
    }

    .timeline-item:nth-child(even)::after {
        left: 25px;
    }
}

@media (max-width: 935px) {
    #about h2 {
        text-align: center;
        margin-bottom: 50px;
    }

    .about-content {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        gap: 2rem;
    }
    
    .profile-image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        padding: 5px;
        border: 3px solid #3498db; /* Changed to a blue color */
        position: relative;
        margin-top: 20px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increased shadow */
        transition: all 0.3s ease;
        filter: grayscale(20%) brightness(105%) contrast(110%); /* Added image filters */
    }
    
    .profile-image:hover {
        transform: scale(1.05) rotate(5deg);
        border-color: #e74c3c; /* Change border color on hover */
        filter: grayscale(0%) brightness(110%) contrast(120%); /* Adjust filters on hover */
    }

    .about-text {
        text-align: center;
    }

    .about-text .skills-container {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        gap: 1rem;
        margin-top: 2rem;
    }
}

@media (max-width: 690px) {
    .timeline-item .metaInfo {
        font-size: 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .about-text {
        max-width: max-content;
        padding: 0px;
        text-align: center;
    }

    .about-content {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        gap: 2rem;
    }
    
    .profile-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        padding: 5px;
        border: 3px solid #3498db; /* Changed to a blue color */
        position: relative;
        top: -20px;
        margin-top: 20px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increased shadow */
        transition: all 0.3s ease;
        filter: grayscale(20%) brightness(105%) contrast(110%); /* Added image filters */
    }
    
    .profile-image:hover {
        transform: scale(1.05) rotate(5deg);
        border-color: #e74c3c; /* Change border color on hover */
        filter: grayscale(0%) brightness(110%) contrast(120%); /* Adjust filters on hover */
    }
    #cursor {
        display: none;
    }
    .timeline-content ul li {
        text-align: left; 
        font-size: 15px;
    }
}

@media screen and (max-width: 432px) {

    .contact-message {
        border-left: none;
        border-top: 1px solid var(--accent-color);
        padding-left: 0;
        padding-top: 2rem;
    }

    .project-card p {
        font-size: 12px;
    }

    .learn-more {
        background: rgba(255, 255, 255, 0.13);
        color: rgba(255, 255, 255, 0.63);
        padding: 0.3rem 1rem;
        font-size: 12px;
    }

    .section-title {
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.705);
        margin-bottom: 1.5rem;
        text-align: center;
    }

    .about-text .skills-container {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        gap: 1rem;
        margin-top: 2rem;
    }

    .about-text p {
        max-width: max-content;
        padding: 0px;
        text-align: center;
        font-size: 12px;
    }

    .skill {
        background-color: rgba(122, 122, 122, 0.2);  
        backdrop-filter: blur(3px);  
        padding: 0.5rem 1rem;
        border-radius: 20px;
        font-size: 0.7rem;
        color: rgba(255, 255, 255, 0.8);  
        box-shadow: 
            0 4px 6px rgba(0, 0, 0, 0.1),
            inset 0 1px 0 rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
    
    .skill:hover {
        background-color: rgba(255, 255, 255, 0.2);
        transform: translateY(-2px);
        box-shadow: 
            0 6px 8px rgba(0, 0, 0, 0.15),
            inset 0 1px 0 rgba(255, 255, 255, 0.2);
    }

    .timeline {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;
    }

    .timeline::after {
        left: 31px;
    }

    .timeline-content ul li {
        text-align: left; 
        font-size: 13px;
    }

    .timeline-item {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
        font-size: 12px;
        text-align: center;
    }

    .company-logo {
        display: none;
    }

    .header-text h3 {
        text-align: center;
    }

    .timeline-item .metaInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        color: var(--secondary-color);
        font-weight: light;
        font-size: 10px;
    }

    .timeline-item::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .timeline-item::after {
        left: 21px;
    }

    .timeline-item:nth-child(even) {
        left: 0px;
    }

    .timeline-item:nth-child(odd) {
        left: 3px;
    }

    .timeline-item:nth-child(even)::after {
        left: 25px;
    }

    .cta-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-left: 20px;
    }

    .btn {
        display: inline-block;
        padding: 0.8rem 1.5rem;
        text-decoration: none;
        font-weight: 600;
        transition: all 0.3s ease;
        margin-right: 1rem;
    }

    .about-text {
        max-width: max-content;
        text-align: center;
    }

    #about h2 {
        text-align: center;
    }

    #experience h2 {
        text-align: center;
    }

    .btn .primary-btn {
        margin-bottom: 20px;
    }
}
